*{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}
body {
  font-family: "Source Code Pro", monospace;
  background: url("../img/bg.jpg") no-repeat top center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  color: #aeaeae;
}

.box {
  padding: 4rem;
  box-shadow: 2px 2px 16px rgba(0,0,0.16);
  text-align: center;
  border-radius: 50px;
  background: #eee;
}
.profile-span{
  font-size: 24px;
}
.redes-sociais {
  display: flex;
  margin-right: 1rem;
  justify-content: center;
}
.redes-sociais li {
  margin-right: 1rem;
}
.tittle{
  font-size: 36px;
  font-weight: normal;
margin-bottom: 50px;
color: #000;
}
.profile-pic{
  border-radius: 50%;
  margin: 0 auto 2rem auto; 
width: 300px;
height: 400px;
}
.profile p{
  font-size: 18px;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.portfolio {
max-width: 886px;
margin: 8rem 0;
}
.profile{
  margin-top: 8rem;
}
.portfolio li{
  display: grid;
  grid-template-columns: auto 1fr;
}
.image-p {
  border-radius: 15px;
margin: 1rem 0px;
}
.paragrafos {
  text-align: center;
  margin-bottom: 4px;
margin-left: 30px;
color: #000;
}
.foto{
border-radius: 50px;
}
.sub{
margin-bottom: 30px;
color: #000;
}
.profile-box{
padding: 1rem 0px; 
}
.redes-sociais li a img:hover {
filter: brightness(0.8);
}